* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ec715f;
}

p {
  font-size: 16px;
  color: #000;
}

h6 {
  font-size: 20px;
  color: #000;
}

.container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav-logo {
  height: 70px;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu a {
  text-decoration: none;
}

.nav-menu li {
  list-style: none;
  font-size: 16px;
  padding: 0 30px;
  color: #fafafa;

}

.main-visual {
  background-image: url(img/mv.png);
  background-position: center;
  height: 650px;
  width: 100%;
  color: #fafafa;
  text-align: center;

}

.main-visual h1 {
  font-size: 64px;
  padding: 200px 0 10px 0;
}

.main-visual p {
  font-size: 20px;
  color: #fafafa;
}

#portfolio {
  width: 100%;
  background-color: #eceff1;

}

.portfolio-contents {
  width: 920px;
  text-align: center;
  margin: 0 auto;
}

.heading {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.heading::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
}

.portfolio-contents p {
  padding: 30px 0 30px 0;
}


.portfolio-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 90px;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);

}

.portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);

}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature-contents {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}


.feature-contents p {
  padding: 30px 0;
}

.strength-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 90px;
}


.strength {
  width: 320px;
  height: auto;

}

.fa {
  display: block;
  margin: 0 auto;
}

.strength h6 {
  padding: 10px auto;
}

#profile {
  width: 100%;
  background-color: #eceff1;
}

.profile-wrapper {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.profile-sentence {
  padding: 30px 0;
}

.profile-contents {
  display: flex;
  padding-bottom: 90px;
}

.left-items {
  width: 50%;
}

.left-items img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-items {
  text-align: left;
}

.profile-items h6 {
  padding-bottom: 5px;
}

.skill {
  padding-top: 20px;
}

.contact-contents {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}

.explanation {
  padding: 30px 0;
}

.contact-items {
  display: flex;

}


.left-items-container {
  text-align: left;
  margin: 0 auto;
  width: 130px;
}

.left-items h6 {
  padding-bottom: 5px;
}

.tel {
  padding-top: 20px;
}

.left-items a {
  color: #000;
}

.right-items {
  text-align: left;
}


.right-items .fa {
  padding-right: 20px;
}

.right-items .fa:last-child {
  padding: 0;
}

footer {
  height: 60px;
  line-height: 60px;
  background-color: #ec715f;
  text-align: center;
}

footer p {
  color: #fff;
}





















