* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #ec715f;
}

#hm-icon {
  display: none;
}

p {
  font-size: 16px;
  color: #000;
}

h6 {
  font-size: 20px;
  color: #000;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  height: 70px;
}

#nav-menu ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#nav-menu a {
  text-decoration: none;
}

#nav-menu li {
  list-style: none;
  font-size: 16px;
  padding: 0 30px;
  color: #fafafa;
}

.main-visual {
  background-image: url(img/mv.png);
  background-position: center;
  height: 650px;
  width: 100%;
  color: #fafafa;
  text-align: center;
}

.main-visual h1 {
  font-size: 64px;
  padding: 200px 0 10px 0;
}

.main-visual p {
  font-size: 20px;
  color: #fafafa;
}

#portfolio {
  width: 100%;
  background-color: #eceff1;
}

.portfolio-contents {
  width: 920px;
  text-align: center;
  margin: 0 auto;
}

.heading {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}

.heading::after {
  content: "";
  display: block;
  margin: 8px auto 0 auto;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
}

.explanation {
  padding: 30px 0;
}

.portfolio-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 90px;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.portfolio-image:nth-child(1) {
  background-image: url(img/sketch.jpg);
}

.portfolio-image:nth-child(2) {
  background-image: url(img/websuku.png);
}

.portfolio-image:nth-child(3) {
  background-image: url(img/write.jpg);
}

.portfolio-image:nth-child(4) {
  background-image: url(img/webcamp.png);
}

.portfolio-image:nth-child(5) {
  background-image: url(img/talk.jpg);
}

.portfolio-image:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
}

.feature-contents {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.strength-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 90px;
}

.strength {
  width: 320px;
  height: auto;
}

.strength .fa {
  display: block;
  margin: 0 auto;
  font-size: 60px;
}

.strength-heading {
  padding: 10px 0 10px 0;
}

#profile {
  width: 100%;
  background-color: #eceff1;
}

.profile-wrapper {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.profile-contents {
  display: flex;
  padding-bottom: 90px;
}

.left-items {
  width: 50%;
}

.left-items img {
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-items {
  text-align: left;
}

.profile-items h6 {
  padding-bottom: 5px;
}

.skill {
  padding-top: 20px;
}

.contact-contents {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 90px;
}

.contact-items {
  display: flex;
}

.left-items-container {
  text-align: left;
  margin: 0 auto;
  width: 130px;
}

.left-items h6 {
  padding-bottom: 5px;
}

.tel {
  padding-top: 20px;
}

.left-items a {
  color: #000;
}

.right-items {
  text-align: left;
}

.sns {
  padding-bottom: 5px;
}

.right-items .fa {
  padding-right: 20px;
  font-size: 50px;
}

.right-items .fa:last-child {
  padding: 0;
}

footer {
  height: 60px;
  line-height: 60px;
  background-color: #ec715f;
  text-align: center;
}

footer p {
  color: #fff;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
    line-height: 50px;
  }

  .container {
    width: 90%;
  }

  .nav-logo {
    height: 50px;
  }

  #hm-icon {
    position: fixed;
    right: 20px;
    top: 6px;
    z-index: 10;
    display: block;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
  .menu-trigger {
    position: relative;
    width: 50px;
    height: 40px;
    border: 3px solid #ccc;
    border-radius: 4px;
  }
  .menu-trigger span {
    position: absolute;
    left: 9px;
    margin: 0 auto;
    width: 60%;
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
  }
  .menu-trigger span:nth-child(1) {
    top: 6px;
  }
  .menu-trigger span:nth-child(2) {
    top: 16px;
  }
  .menu-trigger span:nth-child(3) {
    top: 26px;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
  }
  

  #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 9;
  }

  #nav-menu ul {
    justify-content: center;
  }

  #nav-menu li {
    text-align: center;
    margin-bottom: 30px;
  }

  #nav-menu a {
    color: #fff;
    font-weight: bold;
  }

  .main-visual {
    height: 650px;
    background-image: url(img/code.png);
    background-size: cover;
  }

  .main-visual h1 {
    padding-top: 200px 0 10px 0;
    font-size: 40px;
    color: #fff;
  }

  .main-visual p {
    font-size: 18px;
    color: #fff;
  }

  .image-none {
    display: none;
  }

  .portfolio-images {
    align-items: center;
    flex-direction: column;
  }

  .portfolio-image {
    width: 300px;
    height: 250px;
  }

  .portfolio-image:nth-child(1) {
    padding-top: 30px;
  }

  .portfolio-image:nth-child(3) {
    padding: 10px 0;
  }

  .portfolio-image:nth-child(5) {
    padding-bottom: 90px;
  }

  .strength-wrapper {
    flex-wrap: wrap;
  }

  .strength-wrapper > .strength:nth-child(2) {
    padding: 10px 0;

  }

  .strength {
    width: 60%;
  }

  .profile-contents, .contact-items {
    flex-direction: column;
    align-items: center;
  }

  .profile-items, .left-items-container, .right-items {
    text-align: center;
  }

  .name {
    padding-top: 20px;
  }

  .sns {
    padding-top: 20px;
  }

  .right-items .fa {
    padding-right: 8px;
  }

  .right-items .fa:last-child {
    padding: 0;
  }








}
